/* *---Initialize---* */
@font-face {
    font-family: 'Inter';
    src: url('/assets/fonts/static/Inter-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Inter Medium';
    src: url('/assets/fonts/static/Inter-SemiBold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Inter Bold';
    src: url('/assets/fonts/static/Inter-Bold.ttf') format('truetype');
    font-weight: 700;
}

:root {
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
    --grey: hsl(0, 0%, 20%);
    --darkgrey: hsl(0, 0%, 12%);
    --offblack: hsl(0, 0%, 8%);
    --blue: hsl(228, 45%, 44%);
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    font-family: 'Inter';
    font-size: 1.4rem;
    line-height: 1.4;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--offblack);
}

.container {
    padding: 1.5rem;
    margin: 0 auto;
    max-width: 1440px;
    min-width: 375px;

}

a {
    text-decoration: none;
}

/* *---Styles---* */


.profile {
    background-color: var(--darkgrey);
    width: 32rem;
    text-align: center;
    padding: 2.5rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.user__image {
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.user__personal {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.user__name {
    font-family: "Inter Bold";
    font-size: 2rem;
    color: var(--white);
    margin-bottom: 1rem;
}

.user__location {
    font-family: "Inter Bold";
    font-size: 1.2rem;
    color: var(--green);
}

.user__experience {
    font-size: 1.2rem;
    color: var(--white);
}

.social-media {
    margin-top: 2rem;
}

.social-media__item {
    background-color: var(--grey);
    margin-bottom: 1rem;
    padding: 0.8rem 0;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    transition: all 250ms ease-in-out 30ms;
    -webkit-transition: all 250ms ease-in-out 30ms;
    -moz-transition: all 250ms ease-in-out 30ms;
    -ms-transition: all 250ms ease-in-out 30ms;
    -o-transition: all 250ms ease-in-out 30ms;
}

.social-media__item:hover {
    background-color: var(--green);
}

.social-media__item:hover .social-media__link {
    color: var(--darkgrey);
}

.social-media__link {
    color: var(--white);
    font-family: "Inter Medium";
    transition: all 250ms ease-in-out 30ms;
    -webkit-transition: all 250ms;
    -moz-transition: all 250ms;
    -ms-transition: all 250ms;
    -o-transition: all 250ms;
}


.attribution {
    font-size: 11px;
    color: var(--grey);
}

.attribution a {
    color: var(--blue);
}